<h2>Show cat to rat</h2>

<ul>

  <li>
    <strong>Cat:</strong>
    <%= @cat_to_rat.cat_id %>
  </li>

  <li>
    <strong>Rat:</strong>
    <%= @cat_to_rat.rat_id %>
  </li>

</ul>

<%= link "Edit", to: cat_to_rat_path(@conn, :edit, @cat_to_rat) %>
<%= link "Back", to: cat_to_rat_path(@conn, :index) %>
