<h2>Show good group</h2>

<ul>

  <li>
    <strong>Product:</strong>
    <%= @good_group.product_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @good_group.name %>
  </li>

  <li>
    <strong>Max selection:</strong>
    <%= @good_group.max_selection %>
  </li>

</ul>

<%= link "Edit", to: good_group_path(@conn, :edit, @good_group) %>
<%= link "Back", to: good_group_path(@conn, :index) %>
