<h2>Show profile</h2>

<ul>

  <li>
    <strong>Gender:</strong>
    <%= @profile.gender %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @profile.age %>
  </li>

  <li>
    <strong>Avatar:</strong>
    <%= @profile.avatar %>
  </li>

</ul>

<%= link "Edit", to: profile_path(@conn, :edit, @profile) %>
<%= link "Back", to: profile_path(@conn, :index) %>
