<div class="row">
  <div class="col-md-6">
    <%= render "user_index.html", conn: @conn, users: @users %>
  </div>
  <div class="col-md-6">
    <%= render "profile_index.html", conn: @conn, profiles: @profiles, from: @from %>
  </div>
</div>
