<h2>Show user to profiles</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @user_to_profiles.user_id %>
  </li>

  <li>
    <strong>Profile:</strong>
    <%= @user_to_profiles.profile_id %>
  </li>

</ul>

<%= link "Edit", to: user_to_profiles_path(@conn, :edit, @user_to_profiles) %>
<%= link "Back", to: user_to_profiles_path(@conn, :index) %>
