<h2>
  New cow
  <%= if @conn.assigns.parent do %>
      For <%= @conn.assigns.parent_type %>  <%= @conn.assigns.parent.name %>
  <% end %>
</h2>

<%= render "form.html", changeset: @changeset,
                        action: cow_path(@conn, :create) %>

<%= link "Back", to: cow_path(@conn, :index) %>
