<h2>Show rat</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @rat.name %>
  </li>

  <li>
    <strong>Agender:</strong>
    <%= @rat.agender %>
  </li>

  <li>
    <strong>Height:</strong>
    <%= @rat.height %>
  </li>

</ul>

<%= link "Edit", to: rat_path(@conn, :edit, @rat) %>
<%= link "Back", to: rat_path(@conn, :index) %>
